<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="047e114a-eff2-4474-b093-a90b8872edca"
            Publisher="CN=andrewstellman"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>PoolPuzzle</DisplayName>
    <PublisherDisplayName>andrewstellman</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PoolPuzzle.App">
        <VisualElements
            DisplayName="PoolPuzzle"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="PoolPuzzle"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>